.root{
    position: fixed;
    top: 90%;
    right: 0;
    border: 2px solid #000000;
    padding: 16px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 2 !important;
    .chatTitle{
        margin-right: 12px;
        font-size: 16px;
    }
}